<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.xcoder.any? %>
      <h3>Microposts (<%= @user.xcoder.count %>)</h3>
      <ol class="X_Coder">
        <%= render @xcoder %>
      </ol>
      <%= will_paginate @xcoder %>
    <% end %>
  </div>
</div>