<% provide(:title, 'X-Coder') %>
<h1>    Welcome to X-Coder! View X-Coder Status:</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@xcoder, :remote => true) do |f| %>

      <%= f.label :stream %>
      <br><%= f.text_field :stream %>

      <br><%= f.label :format %>
      <br><%= f.text_field :format %>

        <br><%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
